body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

#gameBoard {
  display: block;
}
